.counter {
  border: 1px solid gray;
  background-color: whitesmoke;
  display: inline-block;
  padding: 10px 100px 10px 100px;
  margin: 10px;
  text-align: center;
}

p button {
  display: inline-block;
  text-align: center;
}

button {
  margin: 10px;
}
